@import 'config/common.css';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  transition: max-width 300ms;
  margin: auto;
}

.main {
  flex: 1;
  display: flex;
}

.header {
  color: var(--color-white);
  background: var(--color-dark-blue);
  padding: var(--size-4);
}

.nav-toggle {
  display: block;
  width: 25px;
  height: 25px;
  background: url('assets/images/menu-icon.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav {
  display: flex;
  overflow: hidden;
  max-width: 0;
  transition: max-width 300ms;
}

.nav--open {
  max-width: 500px;
}

.app-frame {
  flex: 1;
  border: 0;
}